.def-buttons {
    width: 100%;
    position: absolute;
    top: 0;
}
.def-buttons > .button:first-child {
    float: left;
}

.def-buttons > .button:last-child {
    float: right;
}

.section {
    position: relative;
}

#textarea {
    display: inline-block;
    /* border: none !important; */
    /* box-shadow: none !important; */
    max-height: none;
    height: auto;
    min-height: 4em;
}

[contentEditable=false] {
    cursor: pointer;
}

.button {
    margin-top: 1em;
    margin: auto;
}

#submit-button {
    width: 100%;
    margin-top: 0.5em;
}

.first {
    color: red;
}

.neutral {
    color: black;
}
.fourth {
    color: purple;
}
.third {
    color: blue;
}
.second {
    color: green;
}

.nil {
    color: #999;
}
.selected {
    background-color: orange!important;
}

.selected span {
    color: white!important;
}

.textcontainer {
}

.token .word {
    display: inline-block;
    border-radius: 25%;
}

.token .word a {
    text-decoration: underline;
    color: green;
}
.token .word a.no-def {
    text-decoration: none;
    color: gray;
}

.token .word h1 {
    margin-right: 1rem;
}

.definition {
    position: absolute;
    white-space: nowrap;
}
