nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.hero-body .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section {
    position: relative;
}

.button {
    margin-top: 1em;
    margin: auto;
}

.first {
    color: red;
}
.neutral {
    color: black;
}
.fourth {
    color: purple;
}
.third {
    color: blue;
}
.second {
    color: green;
}

.nil {
    color: #999;
}

.textcontainer {
    margin-top: 3em;
}

.token {
    .word {
        display: inline-block;
        border-radius: 25%;
        margin-right: 1rem;
        a {
            color: green;
        }
        a.nodef {
            text-decoration: none;
            color: gray;
        }

        div > div > span.metadata {
            position: absolute;
            top: -1em;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .charcontainer {
            margin-top: 1em;

            .char {
                display: inline-block;
                position: relative;

                span.metadata {
                    font-size: x-small;
                }
            }
        }
    }
    .definition {
        p, ul li  {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    &:hover .definition {
        p, ul li {
            background-color: #eee;
            border-radius: 3px;
        }
    }
}

.definition.content {
    position: absolute;
    white-space: nowrap;
    & > div {
        position: relative;

        & > a {
            position: absolute;
            left: 100%;
            padding-left: 0.5em;
            color: green;
        }
    }

    ol {
        margin-top: 0;
        margin-left: 0.5em;

        & > li {
            margin-top: 0;
        }
    }

    ul {
        margin-top: 0;
        margin-left: 0;
        list-style: none;
        li {
            margin-top: 0;

            &:not(:first-child) {
                margin-left: 1em;
            }
        }
    }
}

#floating-menu {
    position: fixed;
    right: 3em;
    top: 3em;
    z-index: 100;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
    .field > .button {
        width: 100%;
    }
}

#textarea-container #button-container a {
    width: 100%;
}

